<h3>Login Form:</h3>
<%= form_tag(login_path) do %>

    <div class="form-group">
      <%= label_tag(:name, "Your name:") %>
      <%= collection_select(:user, :email, User.all, :email, :name, prompt: "Please select your username from this dropdown") %>
    </div>
    
    <label>Password:</label><br>
    <%= text_field_tag :password %><br><br>
    
    <%= submit_tag "Login with Email" %><br><br>

    <% end %>

    <p>or</p>
    <%= link_to('Log in with Github!', '/auth/github', method: :post) %>
