<h3>New User Form:</h3>
<%= form_for(@user) do |f| %>
    <%= f.label :name, 'First and Last Name:' %><br>
    <%= f.text_field :name %><br><br>
    
    <%= f.label :email, 'Email:' %><br>
    <%= f.text_field :email %><br><br>

    <%= f.label :password, 'Choose a Password:' %><br>
    <%= f.text_field :password %><br><br>
    
    <%= f.label :title, 'Enter Your Title:' %><br>
    <%= collection_select(:user, :title_id, Title.all, :id, :role, prompt: "Please select your title from the dropdown") %><br><br>

    <%= f.label :tenure, 'Years With Firm:' %><br>
    <%= f.number_field :tenure %><br><br>

    <%= f.submit %>
<% end %>
