<h1>Deal Name: <%= @deal.name %></h1>
<h3>Net Present Value: $<%= "%0.1f" %[@deal.npv] %> million</h3>
<h4>Key Assumptions:</h4>
<h4>Discount Rate: <%= "%0.1f" %[@deal.discount_rate] %>%</h4>
<h4>Year 1-5 Growth Rate: <%= "%0.1f" %[@deal.interim_growth] %>%</h4>
<h4>Terminal Growth Rate: <%= "%0.1f" %[@deal.terminal_growth] %>%</h4>
<h4>Entry Free Cash Flow: $<%= "%0.1f" %[@deal.entry_cash] %> million</h4>

<%= link_to 'Back to Deals', user_deals_path(current_user) %><br>

<%= link_to 'Edit Deal', edit_deal_path(@deal) %><br>

<%= button_to 'Destroy', '/users/:user_id/deals/:id', method: :delete, data: { confirm: "Are you sure?" } %>
